.sessao-intro {
    box-shadow: 0px 0px 10px 2px black;
    margin-bottom: 10px;
}
.container-intro {
    background-image: url(../img/paisagem1.jpg);
    display: flex;
    background-size: cover;
    height: calc(100vh + 45px);
    max-height: 1600px;
    width: 100%;
    align-items: center;
}

.bloco-intro-titulo {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    align-items: center;
    color: white;
    width: 100%;
}

.intro-titulo {
    text-align: center;
}