.container-menu {
    width: 100%;
    padding: 25px 0;
    display: flex;
    background: black;
    position: fixed;
    border-bottom: 1px;
    border-top: 1px;
    border-style: solid;
    border-color: white;
    box-shadow: 1px 4px 10px;
    z-index: 1;
}

.bloco-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 150px 0 100px;
    width: 100%;
    background: black;
    align-items: center;
}

.bloco-titulo {
    color: white;
    font-size: 23px;
    font-family: 'Dancing Script', cursive;
    transform: rotate(-7deg);
}

.lista-menu {
    font-family: 'Oswald', sans-serif;    
    width: 500px;
    display: flex;
    justify-content: space-around;
    font-size: 23px;
}


.lista-item a {
    text-decoration: none;
    color: white;
}

.lista-item a:hover {
    color: var(--vermelho-escuro);
    transition: all 0.3s;
}

.lista-item a:active {
    color: white;
}



@media screen and (max-width: 1200px) {
    .bloco-menu {
        padding: 0 100px 0 50px
    }
}


@media screen and (max-width: 900px) {
    .bloco-titulo {
        display: none;
    }

    .bloco-menu {
        display: flex;
        padding: 0;
        justify-content: center;
        padding: 0 20px;
    }

    .lista-menu {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .container-menu {
        padding: 0;
        position: relative;
    }

    .bloco-menu {
        padding: 0;
    }

    .lista-menu {
        flex-direction: column;
        text-align: center;
    }

    .lista-item {
        padding: 25px;
        position: relative;
        box-sizing: border-box;
    }

    .lista-item::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: white;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    .lista-item:last-child {
        margin-bottom: 0;
    }
}